* {
  box-sizing: border-box;
}
body {
  background-color: #151515;
}
*::before,
*::after {
  box-sizing: border-box;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
body {
  width: 100%;
  font-family: "Inter", sans-serif;
  color: #fff;
}
.container {
  width: min(100% - 9vw, 1128px);
  margin-inline: auto;
}
.container2 {
  width: min(100% - 9vw, 1128px);
  margin-inline: auto;
}
.logo img {
  height: 70px;
  /* padding-top: 40px; */

}
nav {
  display: flex;
  justify-content: space-between;
  /* padding-top: 20px; */
  align-items: center;
  height: 100px;
  position: sticky;
}

.navs img {
  /* width: 30px; */
  height: 30px;
  background-color: #000;
}
.navs:hover {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    0.25turn,
    hsl(136, 65%, 100%),
    hsl(192, 70%, 0%)
  );
  border-image-slice: 1;
  width: 100%;

}
.navs a {
  color: #fff;
  /* width: 40px; */
  height: 40px;
  padding-bottom: 4px;
}
.topnav {
  border-bottom: 2px solid transparent;
  display: flex;
  gap: 20px;
  height: inherit;
  align-items: center;
}
header {
  height: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.hero1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 60%;
  height: inherit;
  justify-content: center;
}
.hero2 img {
  width: inherit;
  border-radius: 70px;
  filter: grayscale(100%);
}
.hero2 {
  width: 70%;
  display: flex;
  justify-content: center;
}
.typo1 {
  font-size: clamp(52px, 2.5vw, 55px);
  font-weight: 600;
}
span {
  text-decoration: underline green 3px;
}
.typo2 {
  font-size: 20px;
  line-height: 150%;
  font-weight: normal;
}
.typo3 a {
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding-bottom: 5px;
}
.typo3 a:hover {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    0.25turn,
    hsl(136, 65%, 100%),
    hsl(192, 70%, 0%)
  );
  border-image-slice: 1;
  width: 100%;
}
/* .typoc {
  text-align: center;
} */

.courses {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.course {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: inherit;
  align-items: center;
}
.container1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
  margin-bottom: 30px;
}
article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  overflow: hidden;
}
.courses img {
  width: inherit;
}
.projectimg {
  transition: all linear 0.2s;
  
}
.projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.projectimg:hover {
  opacity: 0.7;
  transform: scale(1.05);
}

.typop {
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 700;
}
footer {
  background-color: #242424;
  padding: 10px;
}
.contacts {
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  height: inherit;
  padding-block: 20px;
}
.contactme {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.submit {
  color: #444;
  text-decoration: underline;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: underline green 2px;
  color: #fff;
}
input {
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  color: #fff;
}

.typocy {
  font-size: 55px;
  font-weight: 900;
}
.typocx {
  font-size: 15px;
  width: 80%;
  color: #555;
}
input {
  height: 50px;
}
.borderbt {
  border-bottom: 1px solid #fff;
  width: 500px;
}
label {
  color: green;
}
form {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 80%;
}
.border {
  border: 1px solid #444;
}
.footer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.fnav {
  display: flex;
  gap: 20px;
}
.svgimges {
  width: 100px;
}
button {
  width: 25%;
  height: 50px;
  border: none;
  outline: none;
  border-bottom: 1px solid green;
  background-color: transparent;
  color: #444;
  cursor: pointer;
}
button:hover {
  background-color: #000;
  color: green;
}
@media screen and (max-width: 750px) {
  header {
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }
  .svgimges {
    height: 100px;
  }
  .hero1 {
    width: 100%;
    align-items: center;
  }
  .typo1 {
    text-align: center;
    font-size: clamp(35px, 2.5vw, 55px);
  }
  .typo2 {
    text-align: center;
  }
  .contacts {
    flex-direction: column-reverse;
    gap: 30px;
  }
  form {
    align-items: center;
  }
  .contactme {
    align-items: center;
  }
  article {
    gap: 40px;
  }
 

}
@media screen and (max-width: 450px) {
  header {
    flex-direction: column;
    gap: 20px;
  }
  .hero1 {
    gap: 30px;
  }
  .typo2 {
    font-size: 11px;
    text-align: center;
  }
  .footer1 {
    flex-direction: column;
    gap: 40px;
    padding-top: 20px;
    height: auto;
  }
    .courses img {
    width: 75%;
    /* height: 89px; */
  }
  .course {
    gap: 5px;
  }
  .svgimges {
    height: 80px;
  }
  article {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }


}
@media screen and (max-width: 380px) {
  form {
    gap: 30px;
  }
  .hero2 img {
    border-radius: 0px;
  }
  .hero2 {
    width: 80%;
  }
}
